body{
	background: #efe5d0 url(images/background.gif) top left;
	/*margin: 20px;*/
}
header.top {
  background-color: #675c47;
  margin:           0px 0px 0px 0px;
  height:           108px;
}
h1{
	font-size: 120%;
	color:	#954b4b;
}
header.top img#headerSlogan { 
  color: #954b4b;
float: right;
}
footer {
  background-color: #675c47;
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin:           0px 10px 10px 10px;
  font-size:        90%;
}
form{
	display: table;
	padding: 10px;
	margin-left: 300px;
	border: thin dotted #7e7e7e;
	background-color: #e1ceb8;
}
form textarea {
	width: 500px;
	height:200px;
}
div.tableRow{
	display: table-row;
}
div.tableRow p{
	display: table-cell;
	vertical-align: top;
	padding: 3px;
}
div.tableRow p:first-child{
text-align: right;
}
.heading{
	font-weight: bold;
}
a:visited{
  color: #954b4b;

}
